// 黑色的主要使用层级
$b-first:#303133;
$b-second:#606266;
$b-third:#909399;
$b-fourth:#C0C4CC;

// 边框的主要使用层级
$bd-first:#DCDFE6;
$bd-second:#E4E7ED;
$bd-third:#EBEEF5;
$bd-fourth:#F2F6FC;

// 取消点击时出现的边框
div,p,span,h1 {
  user-select: none;
}
img {
  border-radius: 5px;
}
input,textarea {
  outline: none;
  resize: none;
  // 取消拉框
}
%singerDetailC {
  position: absolute;
  top: 60px;
  left: -352px;
}
%singerDetailSon {
  position: relative;
  top: 60px;
  left: -355px;
}
%grey1 {
  background:rgba(128, 128, 128, 0.123) ;
}
%grey {
  color: rgba(44, 33, 33, 0.719);
  font-weight: 100;
  cursor: default;
}
.odd {
  background:rgba(128, 128, 128, 0.041) ;
}
%overflow{
  overflow: hidden;
  text-overflow:ellipsis;
  white-space: nowrap;
}
.pointer {
  cursor: pointer;
}
%main {
  width: 70%;
  margin: 0 auto;
  margin-top: 40px;
}

@font-face {
  font-family: "iconfont"; /* Project id 2832000 */
  src: url('//at.alicdn.com/t/font_2832000_6du0d5n4m7i.woff2?t=1640066988405') format('woff2'),
       url('//at.alicdn.com/t/font_2832000_6du0d5n4m7i.woff?t=1640066988405') format('woff'),
       url('//at.alicdn.com/t/font_2832000_6du0d5n4m7i.ttf?t=1640066988405') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-yinle:before {
  content: "\e603";
}

.icon-yonghutianchong:before {
  content: "\e6a2";
}

.icon-zhuanji:before {
  content: "\e60a";
}

.icon-lajitong:before {
  content: "\e615";
}

.icon-gedan:before {
  content: "\e6bf";
}

.icon-danlieliebiao:before {
  content: "\e6e4";
}

.icon-danquxunhuan:before {
  content: "\e66d";
}

.icon-suijisenlin:before {
  content: "\e60e";
}

.icon-liebiao2:before {
  content: "\e602";
}

.icon-24gl-volumeLow:before {
  content: "\ea0d";
}

.icon-zu:before {
  content: "\e613";
}

.icon-shouji:before {
  content: "\e601";
}

.icon-shouji1:before {
  content: "\e692";
}

.icon-shoucangxiao:before {
  content: "\e8bc";
}

.icon-shouji2:before {
  content: "\eac3";
}

.icon-suo:before {
  content: "\e90f";
}

.icon-dianzan_kuai:before {
  content: "\ec8c";
}

.icon-shuyi_nvsheng:before {
  content: "\e660";
}

.icon-mobile-check:before {
  content: "\e799";
}

.icon-nv:before {
  content: "\e645";
}

.icon-nan1:before {
  content: "\e832";
}

.icon-31dianzan:before {
  content: "\e600";
}

.icon-pinglun:before {
  content: "\e607";
}

.icon-fenxiang:before {
  content: "\e618";
}
